<section id="about" class="whiteSection wow animate__ animate__fadeInLeft"
  style="visibility: visible; animation-name: fadeInLeft;">
  <div class="whiteSection container">
    <h2>About</h2>
  </div>
  <div class="panels container">
    <div class="panel panel1">
      <p>Graduated BA Hons</p>
      <p>2012</p>
      <p>Game Design</p>
    </div>
    <div class="panel panel2">
      <p>Graduated</p>
      <p>2014</p>
      <p>MA Sound Design</p>
    </div>
    <div class="panel panel3">
      <p>Moved to Canada</p>
      <p>2016</p>
      <p>From the UK</p>
    </div>
    <div class="panel panel4">
      <p>Permanent Resident</p>
      <p>2019</p>
      <p>In Canada</p>
    </div>
    <div class="panel panel5">
      <p>Lighthouse Labs</p>
      <p>2020</p>
      <p>Web Dev Bootcamp</p>
    </div>
  </div>
</section>