.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h2 {
  text-align: center;
}

.intro p {
  text-align: left;
  margin: 10px 0;
  font-size: 1.1em;
}

.link a {
  display: flex;
  justify-content: center;
}

.intro a {
  margin: 10px 0;
  color: #4f5d75;
  text-align: center;
}

.intro a:hover {
  color: #ef8354;
}

@media only screen and (max-width: 500px) {
  .intro {
    width: 80%;
    margin: 0 auto;
  }

  .motto {
    width: 50%;
  }
}
