{{ define "main" }}

<section class="intro wrapper container">
  <h2>Hi, I’m Andrew. Nice to meet you.</h2>
  <p>I'm currently working as a freelance full-stack developer and am part of the <a
      href="https://mintbean.io/">mintbean.io</a> developer
    collective.</p>
  <p>I love building things with people.</p>
  <p class="link"><a href="#">Take a look >></a></p>
  <p>I made my journey into tech with a background in the film industry and freelance videography. Last year I
    completed an introductory course to frontend and a web development bootcamp with Lighthouse Labs.
  </p>
  <p>My previous roles
    have been primarily client focused which has allowed me to become naturally adept at communicating with clients and
    teams alike.</p>
  <p>I am always looking to connect for opportunities and find a way to bring my knowledge and enthusiasm to your
    projects. </p>
  <p class="link"><a href="#">Lets chat >></a></p>
</section>
<section class="technical-toolbelt wrapper container">
  <h2>Technical Toolbelt</h2>
</section>
<div id="projects"></div>
{{- partial "technicalToolbelt.html" . -}}

{{ end }}