footer {
  background-color: #4f5d75;
  color: white;
  margin-top: 40px;
}

footer p {
  margin: 10px 0;
}

footer svg {
  width: 128px;
  height: 33px;
  margin: 0.25rem;
  margin-bottom: 16px;
}

.built-with {
  display: flex;
  justify-content: center;
  align-items: center;
}

.built-with p {
  margin-bottom: 16px;
  font-size: 12px;
}

.author {
  padding: 10px 0;
  font-size: 12px;
}

.copyright {
  fill: white;
  width: 15px;
  height: 15px;
  margin: 0.25rem;
}

.logo-info {
  text-align: center;
  font-size: 12px;
  padding: 1em;
}

.logo-info a {
  color: white;
}

.logo-info a:hover {
  color: #ef8354;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: white;
  font-size: 0.7em;
}

.footer-links a:hover {
  color: #ef8354;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
  footer {
    flex-wrap: wrap;
  }
}
