.header {
  background-color: #4f5d75;
  color: white;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.right h1 h2 {
  align-items: flex-end;
  text-align: right;
}

.header-img {
  width: 200px;
  border-radius: 50%;
  padding: 0 20px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.socials a {
  text-decoration: none;
}

.socials a svg {
  width: 24px;
  height: 24px;
  fill: white;
  margin: 0.25rem;
}

.socials a svg:hover {
  fill: #ef8354;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .header-img {
    width: 150px;
  }
}

@media only screen and (max-width: 501px) {
  .header-img {
    width: 50%;
  }
  .right {
    width: 50%;
    padding-right: 50px;
  }

  .right .title {
    text-align: left;
    font-size: 1.4em;
  }

  .right h2 {
    text-align: left;
    font-size: 1.4em;
  }

  .socials {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 360px) {
  .socials {
    width: 10vw;
  }

  .socials a {
    width: 24px;
  }

  .socials svg {
    transform: scale(0.7);
  }
}
