.single-post {
  padding-top: 20px;
  padding-left: 0px;
}

img[src*='#header'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Media Queries */

@media only screen and (max-width: 577px) {
  .post {
    width: 80vw;
    margin: 0 auto;
  }

  .single-post {
    text-align: center;
    padding-right: 0;
  }

  .single-post h2 {
    padding-right: 0;
    width: 80vw;
    margin: 0 auto;
    text-align: left;
  }
}
