.single-post {
  padding-top: 20px;
  padding-left: 0px;
}

img[src*='#header'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post table {
  margin: 20px auto;
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* Media Queries */

@media only screen and (max-width: 577px) {
  .post {
    width: 80vw;
    margin: 0 auto;
  }

  .single-post {
    text-align: center;
    padding-right: 0;
  }

  .single-post h2 {
    padding-right: 0;
    width: 80vw;
    margin: 0 auto;
    text-align: left;
  }
}
